[Unit]
Description=this is a mpa server developed for bmw
After=network.target

[Service]
User=pankesh
Group=pankesh
WorkingDirectory=/home/pankesh/app/src/backend
Environment="PATH=/home/pankesh/app/venv/bin"
EnvironmentFile=/home/pankesh/.env
ExecStart=/home/pankesh/app/venv/bin/gunicorn -w 1 -k uvicorn.workers.UvicornWorker main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target